calculadora{
    background: rgb(134, 101, 74);
    color: rgba(151, 168, 144, 0.596);
    width: 200px;
    padding: 10px;
    text-align: center;

}
.calculadora input {
    background: salmon;
    color: rgb(190, 159, 132);
    padding: 8px;
}
#sptotal {
    background: silver;
    color: snow;
    padding: 10px;
    margin-bottom: 10px;


}
.calculadora button {
    margin-top  10px;
    background: coral;
    color: cornsilk;
    padding: 5px 10px;
    border: none;
}
.calculadora button:hover {
    background: blueviolet;
    color: aquamarine;
    cursor: pointer;
}
#splistameses {
    text-align: start;
    border-style: dotted;
    border-color: yellowgreen ;
    border-width: 1px;
    color: brown;
 background: white;
 font-size: 10px;
 margin-top: 10px;
}
